@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind anitaions;

:root {
  --primary-color: #413d36;
  --secondary-color: #312d26;
  --accent-color: white;
  --transition-duration: 0.25s;
  --button-size: 40px;
}


body {
  background: var(--secondary-color);
  user-select: none;
}

svg {
  height: 32px;
  width: 32px;
}

.navigation-bar {
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: var(--primary-color);
}

.navigation-pages-display {
  width: 120px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  color: var(--accent-color);
}

.navigation-buttons {
  width: 40px;
  height: 40px;
  padding: 4px 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  opacity: 1;
  filter: invert(0);
  transition: all var(--transition-duration) ease-in-out;
}

.navigation-buttons:hover {
  opacity: 0.9; 
  filter: invert(1);
  transition: all var(--transition-duration) ease-in-out;
}

.navigation-buttons:disabled {
  opacity: 0.7;
  filter: invert(0);
  transition: all var(--transition-duration) ease-in-out;
}

.navigation-buttons:disabled:hover {
  opacity: 0.5;
  filter: invert(0);
  transition: all var(--transition-duration) ease-in-out;
}